<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="container-fluid">
  <ul class="nav nav-tabs my_nav">
    <li><%= link_to "Blocmarks", root_path %></li>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Topics", topics_path %></li>
    <% if current_user %> 
      <li><%= link_to "My Blocmarks", user_path(current_user) %></li>
    <% end %>



    <div class="pull-right user-info">
      <% if current_user %>
        Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> or
        <%= link_to "Sign Out", new_user_registration_path %>
      <% end %>
     </div>
  </ul>
<br />
</div>

<% if flash[:notice] %>
<div class="alert alert-success notice"><%= notice %></div>
<% elsif flash[:alert] %>
<div class="alert alert-warning"><%= alert %></div>
<% end %>

<%= yield %>
</div

</body>
</html>
